<p>alert works!</p>
<div style="margin-left:550px ; margin-top: 200px;">
    
    <button style="height: 50px; width: auto;" (click)="indicate()"type="button"  class="btn btn-outline-primary">Show alert</button>
</div>
<div class="box"  [class.visible]="showAlert">

    This is dialog page.


</div>
<div style="margin-left:550px ; margin-top: 200px;">
    
    <button style="height: 50px; width: auto;" (click)="showToastr()"type="button"  class="btn btn-outline-primary">Shoe toastr</button>
</div>

